/*
	JOABD.css
	Contains JOABD UI CSS Data
*/

/* general */
.JOBAD {
	/* general JOBAD class applied to all JOBAD items */
}

/* JOBAD Hover */
.JOBAD.JOBAD_Hover {
	position: fixed;
	background-color: #696969;
	-webkit-border-radius: 5;
	-moz-border-radius: 5;
	border-radius: 5;
	border: 1px solid #000000;
}

/* JOBAD ContextMenu */
.JOBAD.JOBAD_Contextmenu {
	/* applied to the context menu */
}

/* JOBAD Sidebar */
.JOBAD.JOBAD_sidebar {
	/* applied to all sidebar elements (including parent) */
}

.JOBAD.JOBAD_Sidebar.JOBAD_Sidebar_Wrapper {
	/* wraps the element that has a sidebar */
	width: 100%;
	float: left;
	overflow: hidden;	
}


.JOBAD.JOBAD_Sidebar.JOBAD_Sidebar_Container {
	/* Contains all sidebar elements */
	height: 1px; /* something positive */
	position: relative;
	float: right;
}

.JOBAD.JOBAD_Sidebar.JOBAD_Sidebar_Notification {
	/* Sidebar Notifications */
	position: absolute;
}

.JOBAD.JOBAD_Sidebar.JOBAD_Sidebar_Notification.JOBAD_Notification_info {
	/* Information */
}
.JOBAD.JOBAD_Sidebar.JOBAD_Sidebar_Notification.JOBAD_Notification_warn {
	/* Warning */
}
.JOBAD.JOBAD_Sidebar.JOBAD_Sidebar_Notification.JOBAD_Notification_error {
	/* Error */	
}
